In [2]:
import numpy as np
import pandas as pd

In [19]:
dataFrame = np.random.randn(3,3)

In [20]:
dataFrame

array([[-0.94278684, -0.2168405 , -1.03542455],
       [-0.21161985, -0.93542719, -0.81876792],
       [-1.32043648, -0.30271797, -1.41890437]])

In [21]:
yeniDataFrame = pd.DataFrame(dataFrame)

In [22]:
yeniDataFrame

          0         1         2
0 -0.942787 -0.216840 -1.035425
1 -0.211620 -0.935427 -0.818768
2 -1.320436 -0.302718 -1.418904

In [26]:
yeniDataFrame = pd.DataFrame(dataFrame, index = ["Arda", "Esila", "Atil"], columns= ["Boy", "Yas", "Kilo"])

In [27]:
yeniDataFrame

            Boy       Yas      Kilo
Arda  -0.942787 -0.216840 -1.035425
Esila -0.211620 -0.935427 -0.818768
Atil  -1.320436 -0.302718 -1.418904

In [ ]:
## serideki index değerlerini değiştirmek için;

In [28]:
newIndexList = ["Ard", "Esil", "Ati"]

In [31]:
yeniDataFrame["New Index"] = newIndexList

In [32]:
yeniDataFrame

            Boy       Yas      Kilo New Index
Arda  -0.942787 -0.216840 -1.035425       Ard
Esila -0.211620 -0.935427 -0.818768      Esil
Atil  -1.320436 -0.302718 -1.418904       Ati

In [33]:
##new index i sütuna yerleştirdik ancak kalıcı olarak değil
yeniDataFrame.set_index("New Index")

                Boy       Yas      Kilo
New Index
Ard       -0.942787 -0.216840 -1.035425
Esil      -0.211620 -0.935427 -0.818768
Ati       -1.320436 -0.302718 -1.418904

In [34]:
##kalıcı olması için;
yeniDataFrame.set_index("New Index", inplace=True)

In [35]:
yeniDataFrame

                Boy       Yas      Kilo
New Index
Ard       -0.942787 -0.216840 -1.035425
Esil      -0.211620 -0.935427 -0.818768
Ati       -1.320436 -0.302718 -1.418904

In [36]:
#çalışıyor mu diye kontrol etmek için;
yeniDataFrame.loc["Esil"]

Boy    -0.211620
Yas    -0.935427
Kilo   -0.818768
Name: Esil, dtype: float64