In [8]:
import numpy as np
import pandas as pd

In [9]:
## Birden çok index olduğunda bunlarda nasıl işlem yapılacağına bakacağız.

In [10]:
ilkIndeksler = ["Simpson", "Simpson", "Simpson", "South Park", "South Park", "South Park"]

In [11]:
icIndeksler = ["Homer", "Bart", "Marge", "Cartman", "Kenny", "Kyle"]

In [12]:
## buradaki iki indexi birleştirip gruplandırarak daha sonra verileri oluşturmamız gerekiyor.

In [13]:
birlesmisIndeks = list(zip(ilkIndeksler, icIndeksler))

In [14]:
birlesmisIndeks

[('Simpson', 'Homer'),
 ('Simpson', 'Bart'),
 ('Simpson', 'Marge'),
 ('South Park', 'Cartman'),
 ('South Park', 'Kenny'),
 ('South Park', 'Kyle')]

In [16]:
birlesmisIndeks = pd.MultiIndex.from_tuples(birlesmisIndeks)

In [17]:
birlesmisIndeks

MultiIndex([(   'Simpson',   'Homer'),
            (   'Simpson',    'Bart'),
            (   'Simpson',   'Marge'),
            ('South Park', 'Cartman'),
            ('South Park',   'Kenny'),
            ('South Park',    'Kyle')],
           )

In [ ]:
## indeksleri gruplandırdık şimdi veri girişlerini yapmamız gerekiyor

In [18]:
benimCizgiFilmListem = [[40, "A"],[30, "B"],[20, "C"],[10,"D"],[5,"E"],[0,"F"]]

In [19]:
cizgiFilmNumpyDizisi = np.array(benimCizgiFilmListem)

In [20]:
cizgiFilmDataFrame = pd.DataFrame(cizgiFilmNumpyDizisi, index= birlesmisIndeks, columns=["Yas", "Meslek"])

In [21]:
cizgiFilmDataFrame

                   Yas Meslek
Simpson    Homer    40      A
           Bart     30      B
           Marge    20      C
South Park Cartman  10      D
           Kenny     5      E
           Kyle      0      F

In [22]:
cizgiFilmDataFrame.loc["Simpson"]

      Yas Meslek
Homer  40      A
Bart   30      B
Marge  20      C

In [24]:
cizgiFilmDataFrame.loc["Simpson"].loc["Homer"]

Yas       40
Meslek     A
Name: Homer, dtype: object

In [25]:
##isimlerin olduğu indexin üzeri boş gözüküyr oraya bir açıklama eklemek için;
cizgiFilmDataFrame

                   Yas Meslek
Simpson    Homer    40      A
           Bart     30      B
           Marge    20      C
South Park Cartman  10      D
           Kenny     5      E
           Kyle      0      F

In [26]:
cizgiFilmDataFrame.index.names = ["Film Adı", "İsim"]

In [27]:
cizgiFilmDataFrame

                   Yas Meslek
Film Adı   İsim
Simpson    Homer    40      A
           Bart     30      B
           Marge    20      C
South Park Cartman  10      D
           Kenny     5      E
           Kyle      0      F