In [4]:
import pandas as pd
import numpy as np

In [5]:
##sıraları(row) gruplamak için kullanır, multi index olmak zorunda değildir

In [19]:
maasSozlugu = {"Departman": ["Yazılım", "Yazılım", "Finans", "Finans", "Hukuk", "Hukuk"],
              "Çalışan İsmi": ["Ahmet", "Mehmet", "Atıl", "Burak", "Esila", "Arda"],
              "Maas": [100,150,300,400,250,320]}

In [20]:
maasDataFrame = pd.DataFrame(maasSozlugu)

In [21]:
maasDataFrame

  Departman Çalışan İsmi  Maas
0   Yazılım        Ahmet   100
1   Yazılım       Mehmet   150
2    Finans         Atıl   300
3    Finans        Burak   400
4     Hukuk        Esila   250
5     Hukuk         Arda   320

In [22]:
## kişileri bazı departmanlarda gruplandırmak için; .groupby sınıfı kullanılır
grupObjesi = maasDataFrame.groupby("Departman")

In [23]:
grupObjesi.count() ## .count hangi departmanda kaç kişinin çalıştığını gösterir

           Çalışan İsmi  Maas
Departman
Finans                2     2
Hukuk                 2     2
Yazılım               2     2

In [24]:
grupObjesi.mean() # .mean aynı departmanda çalışanların ortalama maaş değerlerini gösterir

           Maas
Departman
Finans      350
Hukuk       285
Yazılım     125

In [25]:
grupObjesi.describe() ## .describe aşağıdaki değerleri departmanlara göre hesaplamak için kullanılır

           Maas
          count   mean        std    min    25%    50%    75%    max
Departman
Finans      2.0  350.0  70.710678  300.0  325.0  350.0  375.0  400.0
Hukuk       2.0  285.0  49.497475  250.0  267.5  285.0  302.5  320.0
Yazılım     2.0  125.0  35.355339  100.0  112.5  125.0  137.5  150.0