In [1]:
import numpy as np
import pandas as pd

In [2]:
## farklı data frameler ile birleştirme, yan yana koyma gibi işlemleri göreceğiz

In [3]:
sozluk1 = {"Isim" :["Ahmet", "Mehmet", "Zeynep", "Atıl"], 
          "Spor": ["Koşu", "Yüzme","Koşu","Basketbol"],
          "Kalori": [100,200,300,400]
          }

In [4]:
dataFrame1 = pd.DataFrame(sozluk1, index = [0,1,2,3])

In [5]:
dataFrame1

     Isim       Spor  Kalori
0   Ahmet       Koşu     100
1  Mehmet      Yüzme     200
2  Zeynep       Koşu     300
3    Atıl  Basketbol     400

In [7]:
sozluk2 = {"Isim" :["Osman", "Levent", "Atlas", "Fatma"], 
          "Spor": ["Koşu", "Yüzme","Koşu","Basketbol"],
          "Kalori": [200,100,50,150]
          }

In [8]:
dataFrame2 = pd.DataFrame(sozluk2, index = [4,5,6,7])

In [9]:
sozluk3 = {"Isim" :["Ayşe", "Mahmut", "Duygu", "Nur"], 
          "Spor": ["Koşu", "Yüzme","Badminton","Tenis"],
          "Kalori": [500,250,75,300]
          }

In [10]:
dataFrame3 = pd.DataFrame(sozluk3, index= [8,9,10,11])

In [11]:
## concatenation(alt alta birleştirme) kullanılarak data frame ler birleştirilebilir

In [16]:
pd.concat([dataFrame1,dataFrame2,dataFrame3]) ##kolonlar birleştirilmek istenirse axis = 1 kullanılabilir

      Isim       Spor  Kalori
0    Ahmet       Koşu     100
1   Mehmet      Yüzme     200
2   Zeynep       Koşu     300
3     Atıl  Basketbol     400
4    Osman       Koşu     200
5   Levent      Yüzme     100
6    Atlas       Koşu      50
7    Fatma  Basketbol     150
8     Ayşe       Koşu     500
9   Mahmut      Yüzme     250
10   Duygu  Badminton      75
11     Nur      Tenis     300