In [4]:
import pandas as pd
import numpy as np

In [5]:
## bir data frame da tekrar etmeyen verileri almak için;

In [15]:
maasSozluk = {"Isim": ["Atıl", "Zeynep", "Mehmet", "Ahmet"], 
              "Departman": ["Yazılım", "Satış", "Pazarlama","Yazılım"],
              "Maas" : [200,300,400,500]
             }

In [16]:
maasDataFrame = pd.DataFrame(maasSozluk)

In [17]:
maasDataFrame

     Isim  Departman  Maas
0    Atıl    Yazılım   200
1  Zeynep      Satış   300
2  Mehmet  Pazarlama   400
3   Ahmet    Yazılım   500

In [18]:
##unique=tekil sadece unique leri göster
maasDataFrame["Departman"].unique()

array(['Yazılım', 'Satış', 'Pazarlama'], dtype=object)

In [19]:
## nunique= number unique  kaç tane tekil var
maasDataFrame["Departman"].nunique()

3

In [20]:
## hangi departmandan kaç tane var
maasDataFrame["Departman"].value_counts()

Yazılım      2
Satış        1
Pazarlama    1
Name: Departman, dtype: int64

In [24]:
## maaşlar üzerinde 4 işlem yapabilmek için;
def bruttenNete(maas):
    return maas * 0.66

In [25]:
## bir "fonksiyon" oluşturarak "return" ile bir geri dönüş aldık "apply" ile bu fonksiyonu uygulamış olduk
maasDataFrame["Maas"].apply(bruttenNete)

0    132.0
1    198.0
2    264.0
3    330.0
Name: Maas, dtype: float64

In [26]:
## NaN yazan bir değerin olup olmadığını sorgulamak için;
maasDataFrame.isnull()

    Isim  Departman   Maas
0  False      False  False
1  False      False  False
2  False      False  False
3  False      False  False